<form novalidate [formGroup]="credentials" #form="ngForm" (ngSubmit)="onSubmit()" 
  fxLayout="column" 
  fxLayoutAlign="space-around"
  fxLayoutGap="16px">
  <md-input-container>
    <input mdInput placeholder="Email" formControlName="email" autocomplete="off">
    <md-hint class="error">
      <span *ngIf="credentials.get('email').hasError('required') && (credentials.get('email').touched || submitted)">email address is required</span>
      <span *ngIf="credentials.get('email').hasError('simpleEmailRule') && (credentials.get('email').touched || submitted)">email address appears incorrect</span>
    </md-hint>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Password" type="password" formControlName="password">
    <md-hint class="error">
      <span *ngIf="credentials.get('password').hasError('required') && (credentials.get('password').touched || submitted)">password is required</span>
    </md-hint>
  </md-input-container>
</form>
<span>boo</span>
