<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutAlign.xs="start start" class="full-height container">
    <md-card fxFlex="400px" fxFlex.xs="100%">
        <md-card-header fxLayoutAlign="center">
            <img src="../../assets/monkey.svg" />
        </md-card-header>
        <md-card-content>
            <div fxLayout="row" fxLayoutAlign="center center" class="account-text">please provide your account details</div>
            <app-form (authEvent)="register($event)"></app-form>
            <div fxLayoutAlign="center end" *ngIf="authState.error" class="error-state">
                {{authState.error.message}}
            </div>            
        </md-card-content>
        <md-card-actions fxLayout="column">
            <button md-raised-button (click)="form.ngSubmit.emit()" color="primary">SIGN UP</button>
            <div fxLayout="row" fxLayoutAlign="center end" class="supporting-actions">
                <a routerLink="../" (click)="reset()">Already have an account?</a>
            </div>
        </md-card-actions>
        <md-card-footer>
        </md-card-footer>
    </md-card>
</div>