<button md-fab (click)="raiseEvent(providers.Google)" [disabled]="authenticating">
  <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-google"></md-icon>
</button>
<button md-fab (click)="raiseEvent(providers.Facebook)" [disabled]="authenticating">
  <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-facebook"></md-icon>
</button>
<button md-fab (click)="raiseEvent(providers.Twitter)" [disabled]="authenticating">
  <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-twitter"></md-icon>
</button>
<button md-fab (click)="raiseEvent(providers.Github)" [disabled]="authenticating">
  <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-github-circle"></md-icon>
</button>
